.btn {
  display: inline-block;
  padding: 1em 1.75em;
  line-height: 1;
  cursor: pointer;
  border-radius: 2px;
  border: none;
  transition:
    color .3s ease,
    background-color .3s ease,
    transform .3s ease,
    border-color .3s ease;

  // default btn
  &.btnOrange {
    color: #ffffff;
    background-color: #f58634;
  }

  // primiry btn
  &.btnGreen {
    color: #ffffff;
    background-color: #a8cf45;
  }

  // danger btn
  &.btnDanger {
    color: #ffffff;
    border: 1px solid hsl(0, 48%, 48%);
    background-color: #b53f3f;
  }

  &.btnWhite {
    color: #333333;
    border: 1px solid #ffffff;
    background-color: #ffffff;
  }
  &.btnBlue {
    color: $brand-blue;
    border: 2px solid $brand-blue;
    background-color: transparent;
    &:hover{
      color: #fff;
      border: 2px solid $brand-blue;
      background-color: $brand-blue;
    }
  }
}
