// Font
$mainFont: "Europe Normal";
$mainFontColor: #393d46;

// Size
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.6;

$desktopWidth: 1320px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color

$brand-orange: #f58634;
$brand-green: #a8cf45;
$brand-blue: #245990;
$brand-gray: #9da3a5;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;
