// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/modal-video";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;

  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }

  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }

  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
  &.gray {
    background-color: #323233;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
textarea,
select,
button {
  border: 1px solid $border-base;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.first-section {
  padding-top: 48px;
}

.main-page-title {
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 10px;
}
.main-page-desc {
  color: $desc-color;
  max-width: 70%;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }
}

@import "./common.scss";

// header
.header {
  padding-top: 32px;
  position: relative;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo a {
  max-width: 245px;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
    height: auto;
  }
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  .btn {
    margin: 0 15px;
    span {
      position: relative;
    }
  }
}

.header__schedule,
.header__login {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-right: 12px;
  }
}

.header__menu {
  padding: 10px 0;
  margin-left: 45px;
  cursor: pointer;
  max-width: 76px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  .menu__burger {
    margin-left: 12px;
    span {
      background-color: $brand-green;
      height: 2px;
      width: 18px;
      margin: 3px 0px;
      border-radius: 2px;
      &:last-child {
        width: 10px;
        margin-left: auto;
      }
    }
  }
}

.header__breadcrumbs {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  li {
    margin-right: 25px;
    position: relative;
    a {
      color: #999eab;
    }
    &::after {
      position: absolute;
      content: ">";
      color: #999eab;
      right: -18px;
      top: 52%;
      transform: translateY(-50%);
    }
    &:last-child {
      a {
        color: #fff;
      }
      &::after {
        display: none;
      }
    }
  }
}

.header.white {
  .header__breadcrumbs li:last-child a {
    color: $mainFontColor;
  }
  .header__menu {
    color: $mainFontColor;
  }
}
.main-screen {
  position: relative;
}
.main-screen__bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: -1;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  &-shape {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
}

.main__slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  .swiper-slide {
    height: 100%;
    height: 100%;
  }
  .slide__content {
    padding-top: 13vh;
    display: flex;
    flex-direction: column;
  }

  .slide__title {
    margin-bottom: 6vh;
    font-family: "Gilroy";
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 120%;
    color: #fff;
    span {
      color: transparent;
      -webkit-text-stroke: 2px $brand-orange;
      font-style: italic;
    }
  }
  .slide__desc {
    max-width: 426px;
    width: 100%;
    margin-left: auto;
    color: #fff;
    line-height: 140%;
    padding-left: 16px;
    border-left: 2px solid $brand-green;
    margin-bottom: 60px;
  }
}
.slide__advantages {
  li {
    position: relative;
    color: #fff;
    padding-left: 26px;
    font-weight: 400;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      transform: translateY(-50%) skewX(-30deg);
      height: 6px;
      width: 12px;
      background-color: $brand-gray;
    }
    &:nth-child(1)::after {
      background-color: $brand-orange;
    }
    &:nth-child(2)::after {
      background-color: $brand-green;
    }
    &:nth-child(3)::after {
      background-color: $brand-blue;
    }
  }
}
.main__slider-nav {
  display: inline-block;
  position: relative;
  height: 48px;

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    display: flex;
    height: inherit;
    position: relative;
    padding: 0 40px;
    z-index: 1;
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after,
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    font-size: 30px;
    color: #b8b8b8;
  }

  .main__slider-bullet {
    display: flex;
    align-items: center;
    transition: font-size 0.3s ease, color 0.3s ease;
    margin: 0 8px !important;
    height: inherit;
    width: inherit;
    background-color: transparent;
    opacity: 1;
    font-size: 24px;
    color: #fff;
    line-height: 100%;
    &.swiper-pagination-bullet-active {
      font-size: 32px;
      color: $brand-orange;
    }
  }
}

.slide__play-btn {
  cursor: pointer;
  max-width: 184px;
  max-height: 184px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  .img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.first-layer {
      width: 99%;
      height: 99%;
      img {
        animation: rotate 6s linear infinite 0s;
      }
    }
    &.second-layer {
      width: 100%;
      height: 100%;
      img {
        animation: rotateReverse 5s linear infinite 0s;
      }
    }
    &.third-layer {
      width: 37%;
      height: 37%;
      margin-left: 5px;
    }
  }
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-position: center;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateReverse {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.modal-video-close-btn.js-modal-video-dismiss-btn {
  cursor: pointer;
}
.slide__more {
  text-align: center;
  max-width: 142px;
  margin-top: 3vh;
}

@media (max-width: 980px) {
  .header__breadcrumbs {
    display: none;
  }
  .header__schedule,
  .header__login {
    span {
      display: none;
    }
    img {
      margin: 0;
    }
  }
  .main-screen__bg {
    height: 100%;
    max-height: 970px;
    min-height: inherit;
  }
  .header__menu {
    margin-left: 30px;
  }
  .main__slider {
    height: auto;
    .slide__content {
      padding-top: 923px;
    }
    .slide__title {
      font-size: 90px;
      color: #fff;
      margin-bottom: 70px;
    }
  }
  .slide__play-btn {
    top: 25%;
    left: 50%;
    right: inherit;
    transform: translate(-50%, -50%);
  }
  .main__slider-nav {
    position: absolute;
    left: 0;
    top: 800px;
    z-index: 2;
  }
}
@media (max-width: 576px) {
  .header__wrapper {
    flex-wrap: wrap;
  }
  .header__logo {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .header__nav {
    flex: 0 0 100%;
    display: flex;
    justify-content: flex-start;
  }
  .header__menu {
    margin-left: auto;
  }
  .header__nav .btn {
    margin: 0 10px;
  }
  .header__nav .btn {
    padding: 0.78em 1.2em;
  }
  .main-screen__bg {
    max-height: 490px;
  }
  .slide__play-btn {
    top: 17%;
  }
  .main__slider .slide__content {
    padding-top: 370px;
  }
  .main__slider .slide__title {
    font-size: 10vw;
    margin-bottom: 30px;
  }
  .header {
    padding-top: 20px;
  }
  .main__slider-nav {
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.shedule__slider-wrapper {
  display: flex;
}
.shedule__slider {
  margin-bottom: 67px;
  width: 115%;
  overflow: hidden;
  transform: translateX(-13%);
  position: relative;
  &::after {
    position: absolute;
    content: "";
    height: 100%;
    left: -1px;
    top: 0;
    bottom: 0;
    width: 20%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='302' height='113' viewBox='0 0 302 113' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='198' width='104' height='113' fill='url(%23paint0_linear_0_1)'/%3e%3crect width='198' height='113' transform='matrix(-1 0 0 1 198 0)' fill='white'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_0_1' x1='198' y1='57' x2='302' y2='57' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='white'/%3e%3cstop offset='1' stop-color='white' stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
  }
}

.shedule__slider-slide {
  flex: 0 0 auto;
  border: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  transition: all 0.3s ease;
  &.swiper-slide-active {
    color: #fff;
    background-color: $brand-orange;
  }
}
.shedule__nav-btns {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.shedule {
  position: relative;
  margin-top: 38px;
  .swiper-button-next,
  .swiper-button-prev {
    color: #999eab;
  }
}
.shedule__nav-btns {
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: -5%;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: -5%;
  }
}

.shedule__blocks {
  position: relative;
  display: flex;
  margin-right: -3px;
  margin-left: -3px;
  padding-left: 8%;
  flex-wrap: wrap;
}
.shedule__blocks-time {
  position: absolute;
  left: 0;
  top: 0;
  width: 7%;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}

.shedule__blocks:nth-of-type(3n) .shedule__blocks-time {
  color: $brand-orange;
  border-bottom: 1px solid $brand-orange;
}
.shedule__blocks:nth-of-type(3n + 1) .shedule__blocks-time {
  color: $brand-green;
  border-bottom: 1px solid $brand-green;
}
.shedule__blocks:nth-of-type(3n + 2) .shedule__blocks-time {
  color: $brand-blue;
  border-bottom: 1px solid $brand-blue;
}

// .shedule__blocks-time:nth-child(2) {
//   color: $brand-green;
//   border-bottom: 1px solid $brand-green;
// }

// .shedule__blocks-time:nth-child(3) {
//   color: $brand-green;
//   border-bottom: 1px solid $brand-green;
// }

// .shedule__blocks-time:nth-child(4) {
//   color: $brand-green;
//   border-bottom: 1px solid $brand-green;
// }

.shedule__block {
  margin: 3px;
  padding: 20px;
  border-radius: 2px;
  flex: 0 0 24%;
  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .gym__img {
    width: 32px;
    height: 32px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .gym__name {
    padding: 8px 12px;
    border-radius: 20px;
    color: #fff;
  }
  .gym__title {
    margin-bottom: 9px;
    font-weight: 800;
  }
  .gym__date,
  .gym__time,
  .gym__trainer {
    color: #999eab;
    line-height: 120%;
  }
  .gym__time,
  .gym__adress {
    margin-bottom: 16px;
  }
  .gym__adress {
    max-width: 90%;
    line-height: 120%;
  }
}

.shedule__block.orange {
  background-color: #ffecdf;
  .gym__name {
    background-color: $brand-orange;
  }
  .gym__trainer-name {
    color: $brand-orange;
  }
}

.shedule__block.blue {
  background-color: #dcedf7;
  .gym__name {
    background-color: $brand-blue;
  }
  .gym__trainer-name {
    color: $brand-blue;
  }
}

.shedule__block.green {
  background-color: #f1ffef;
  .gym__name {
    background-color: $brand-green;
  }
  .gym__trainer-name {
    color: $brand-green;
  }
}
.shedule__block.empty {
  // position: relative;
  display: flex;
  border: 1px solid #e1e1e1;
  align-items: center;
  text-align: center;
  justify-content: center;
  span {
    font-size: 24px;
    color: $brand-gray;
  }
}
